{{ define "main" }}


    {{ if site.Data.projects.projects.enable }}
    {{ with site.Data.projects.projects }}
    <section style="height: 100vh; display: flex; align-items: center;" class="site-project-header">
      <div class="container">


        <div class="row ">
          <div class="col-lg-8">
            <div>
              <h1>
                {{ .title | markdownify }}
              </h1>
            </div>
          </div>
        </div>
    
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          {{ range .item }}
          <div  style="padding: 5% 0;" class="col-10 offset-1">
            <h4 class="mb-4">{{ .title }}</h4>
            <p>{{ .content | markdownify }}</p>
            <a href="{{ .link }}"> View Full Project Link  > </a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}
    {{ end }}
    

    
{{ end }}